.form-group {
    padding: 20px;
}

.form-container {
    padding: 20px;
    height: 700px;
    width: 700px;
    margin: 30px auto;
    background-color: #0F0402;
    box-shadow: 10px 20px 10px #060201;
}

.form-file-container {
    margin: 20px auto 20px;
}
